html, body {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
header {
  height: 3rem;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
}
header p {
    padding: 0 2rem;
}
header li {
    display: inline;
    padding-right: 2rem;
}
header a {
    color: black;
}
header a:hover {
    text-decoration: underline;
}
main {
    position: relative;
    top: 3rem;
    height: 200rem;
}
.banner {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.banner h2 {
  color: #02577a;
}
.banner img {
  border-radius: 50%;
}
.socials img {
  border-radius: 0%;
  width: 3rem;
  padding-top: 1rem;
}
.banner h1,
.banner p,
.bottom p{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.banner h1 {
  font-size: 4rem;
}
.banner p {
  font-size: 1.25rem;
  max-width: 38rem;
}
.info a {
    color: #02577a;
}
.info a:hover {
  text-decoration: underline;
}
.nav {
  display: flex;
  align-items: center;
  padding-left: 1%;
  border-top: 1px black solid;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.nav li {
  display: inline;
  padding-right: 6rem;
  padding-left: 6rem;
}
.nav a {
  color: black;
  font-size: 2rem;
  font-weight: 100;
}
.nav a:hover {
  color: #02577a;
}
.hardware {
  padding-top: 5rem;
  background-color: #01303f;
}
.hardware h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 250;
  color: white;
}
.pcbdesign {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.pcbdesign h3 {
  color: white;
  font-size: 2rem;
  padding-bottom: 2rem;
  font-weight: 100;
}
.pcbdesign p {
  max-width: 40rem;
  color: white;
  line-height: 1.75rem;
  font-size: 1.125rem;
}
.pcb {
  max-width: 40rem;
  min-width: 35rem;
}
#second {
  background-color: white;
}
#second p,
#second h3 {
  color: #01303f;
}
.software {
  padding-top: 5rem;
}
.software h1 {
  text-align: center;
  font-size: 5rem;
  font-weight: 250;
}
footer {
  background-color: #000000;
  height: 3rem;
  display: flex;
  align-items: center;
  position: relative;
  bottom: 0;
}
footer p {
  padding-left: 1%;
  color: white;
}
div.scroll-container {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.scroll-container img {
  padding: 10px;
}
